<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.soluk.belle_net_alpha">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/bellenet_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Belle_net_alpha">
        <activity android:name=".selected_event.Selected_Event_Add_Comment_Activity"></activity>
        <activity android:name=".selected_event.Selected_Event_Comment_Replies_Activity" />
        <activity android:name=".search_users.Search_Users_Activity" />
        <activity android:name=".selected_user_profile_page.User_Profile_Page_Activity" />
        <activity android:name=".selected_event.Selected_Event_Activity" />
        <activity android:name=".user_followx.User_FollowX_List_Activity" />

        <service
            android:name=".FireBase_Push_Notification_Service"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".ui.login.Login_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main_Activity" />
        <!--
activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" /
        -->
        <!--
activity android:name="com.canhub.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/
        -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>